body {
    background-image: url("../images/titanic.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    /* background-size: cover; */
}

a {
    position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
}

h1 {
    color: white;
    font-size: 50px;
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    margin-top: 2px;
    padding-top: 0;
    color: white;
    padding-left: 20px;
    font-size: 30px;
}

#words {
    padding: 5px 0px 0px 75px;
}

@media (max-width: 1160px) {
    body {
        background-size: 1160px 700px;
    }
    h1 {
        font-size: 40px;
        text-align: left;
    }
    h2 {
        text-align: left;
        font-size: 25px;
    }
    #words {
        padding: 5px 0px 0px 50px;
    }
}

@media (max-width: 825px) {
    body {
        background-position: center top;
    }
    h1 {
        font-size: 30px;
        text-align: left;
        width: 300px;
    }
    h2 {
        text-align: left;
        font-size: 20px;
    }
    #words {
        padding: 0px 0px 0px 15px;
    }
}